input, select {
	color : #000000;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
.title {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 1px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 20px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
.title a {
	color : #006DEF;
}
.title a:hover {
	color : #025AC2;
}
.heading {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
.heading a {
	color : #01355C;
}
.heading a:hover {
	color : #0000FF;
}
h1 {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 18px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
h1 a {
	color : #01355C;
}
h1 a:hover {
	color : #0000FF;
}
h2 {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 15px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
h2 a {
	color : #01355C;
}
h2 a:hover {
	color : #0000FF;
}
h3 {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
h3 a {
	color : #01355C;
}
h3 a:hover {
	color : #0000FF;
}
p {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
}
p a {
	color : #01355C;
}
p a:hover {
	color : #294A9B;
}
pre {
	color : #000000;
	margin-top : 10px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 13px;
	font-family : monospace;
}
table {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
}
ul {
        color : #000000;
        margin-top : 5px;
        padding-bottom : 5px;
        margin-bottom : 0px;
        padding-left : 20px;
        margin-left : 20px;
        margin-right : 20px;
        font-size : 13px;
        font-family : helvetica,arial,sans-serif;
}
ul a {
        color : #01355C;
}
ul a:hover {
        color : #294A9B;
}
ol {
        color : #000000;
        margin-top : 5px;
        padding-bottom : 5px;
        margin-bottom : 0px;
        padding-left : 20px;
        margin-left : 20px;
        margin-right : 20px;
        font-size : 13px;
        font-family : helvetica,arial,sans-serif;
}
ol a {
        color : #01355C;
}
ol a:hover {
        color : #294A9B;
}
.menu00 {
	color : #000000;
	margin-top : 1px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 5px;
	margin-right : 20px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
.menu00 a {
	color : #000000;
	text-decoration: none;
}
.menu00 a:hover {
	color : #000000;
        text-decoration: underline;
}
.menu01 {
	color : #000000;
	margin-top : 1px;
	padding-bottom : 1px;
	margin-bottom : 0px;
	margin-left : 20px;
	margin-right : 20px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}
.menu01 a {
	color : #000000;
	text-decoration: none;
}
.menu01 a:hover {
	color : #000000;
        text-decoration: underline;
}
.menu02 {
	color : #000000;
	margin-top : 1px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-left : 12px;
	margin-right : 11px;
	font-size : 13px;
	font-family : helvetica,arial,sans-serif;
	text-align: right;
	font-weight: bold;
}
.menu02 a {
	color : #000000;
	text-decoration: none;
}
.menu02 a:hover {
	color : #000000;
        text-decoration: underline;
}

.sidemenuhead {
        color : #30000F;
	text-decoration : none;
        margin-left : 20px;
	font-size : 15px;
	font-family : helvetica,arial,sans-serif;
	font-weight: bold;
}

.sidemenu a {
        color : #01355C;
	text-decoration:none;
	margin-left : 30px;
	font-size : 14px;
	font-family : helvetica,arial,sans-serif;
}
.sidemenu a:hover {
        color : #294A9B;
	text-decoration: underline;
	margin-left : 30px;
	font-size : 14px;
	font-family : helvetica,arial,sans-serif;
}
